.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;

  &-items {
    display: flex;
    width: 70%;
    justify-content: space-between;
  }

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: (var(--dark));
    font-weight: 800;
    text-transform: uppercase;
  }

  &-icons {
    height: 20px;
    margin-right: 10px;
  }

  &-social {
    font-size: 15px;
    margin: 0 3px;
  }
}

@media (max-width: 880px) {
  .navbar {
    &-btn {
      display: flex;
      cursor: pointer;
      font-size: 30px;
    }

    &-items {
      display: flex;
      flex-direction: column;
      width: 80%;
      position: absolute;
      top: 100px;
      align-items: flex-end;
    }

    &-item {
      margin: 10px 0;
    }
  }
}
