.answer {
  text-align: center;

  &-txt {
    margin: 15px 0;
  }

  &-warning {
    color: darkred;
    font-weight: 500;
  }

  &-undertitle {
    font-size: 1.2em;
    font-weight: 500;
    margin: 15px 0;
  }

  &-btn {
    border: none;
    color: var(--light);
    padding: 10px;
    margin: 15px 10px;
    border-radius: 15px;
    width: 125px;
    cursor: pointer;
    &:hover {
      background-color: var(--dark);
      transform: scale(1.1);
      transition: all 0.2s ease;
    }
  }

  &-btn-confirm {
    background-color: green;
  }

  &-btn-cancel {
    background-color: darkred;
  }
}

.bkg {
  &-list {
    list-style: none;
  }

  &-item {
    margin: 5px 0;
  }
}
